<div class="container-fluid  mt-1 ">
    <div class="row">
        <div class="col-lg-5 text-center mr-5" style="background-color: rgb(214, 214, 211); border-radius: 10px;">



            <img class="img-fluid mt-3" style="width: 200px;height: 200px; border-radius: 50%;"
                src="./../../../../assets/img/tree-736885__480.jpg" alt="">

            <h3 class="content text-center m-3">Address:{{room.address}}</h3>
            <button class="btn btn-primary btn-sm mb-3 ">Book Room</button>



        </div>

        <div class=" col-lg-6 mt-1 " style="background-color:rgb(214, 214, 211);border-radius: 10px;">


            <table class="table" style="font-size: large;">

                <tbody>
                    <tr>
                        <td>Description</td>
                        <td style="height:max-content;">{{room.description}}
                        </td>
                    </tr>
                    <tr>
                        <td>NO Of Rooms </td>
                        <td>{{room.numberOfRoom}}</td>
                    </tr>
                    <tr>
                        <td>Price Per Room</td>
                        <td>{{room.price}}</td>
                    </tr>
                    <tr>
                        <td>Bike Parking</td>
                        <td>{{room.bikeParking}}</td>
                    </tr>
                    <tr>
                        <td>Categories</td>
                        <td>{{room.categories}}</td>
                    </tr>
                </tbody>
            </table>
        </div>




    </div>
</div>