<div class="container">
    <div class="row">
        <div class="col-md-2 col-sm-12 "></div>
        <div class="col-md-8 col-sm-12  shadow-lg bg-light rounded" style=" padding: 10px">
            <h2>Admin Sign In</h2>
            <hr />

            <form [formGroup]="signUpForm" (ngSubmit)="onsubmit()">
                <!-- <div formGroupName="fullName"></div> -->

                <div class="form-group">
                    <label for="email" class="form-label">Email address</label>
                    <input type="email" class="form-control shadow bg-white rounded" placeholder="Enter email"
                        name="email" formControlName="Email" />
                    <small *ngIf="
                signUpFormControl['Email'].errors?.['required'] && signUpFormControl['Email'].invalid && signUpFormControl['Email'].touched
              ">*Invalid email</small>

                </div>




                <div class="form-group">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control shadow bg-white rounded" name="password"
                        placeholder="Password" formControlName="password" />
                    <small *ngIf="
                        signUpFormControl['password'].errors?.['required'] && signUpFormControl['password'].invalid && signUpFormControl['password'].touched
                      ">*Invalid password</small>
                </div>

                <button type="submit" [disabled]="signUpForm.invalid" class="btn btn-primary">
                    LogIn
                </button>
                <p class="text-danger mt-2"> WARNING!!! this page is only for Admin</p>
            </form>
        </div>
        <div class="col-md-2 col-sm-12"></div>
    </div>
</div>